* {
  margin: 0;
  padding: 0; }

h1 {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 72px;
  text-transform: uppercase; }

h2 {
  font-size: 40px;
  font-family: "Cookie", cursive; }
  @media only screen and (max-width: 800px) {
    h2 {
      font-size: 35px; } }

h3 {
  font-size: 32px;
  font-family: "Cookie", cursive; }

p {
  font-size: 18px;
  font-family: "Playfair Display", serif; }

a {
  color: #000;
  text-decoration: none;
  font-family: "Cookie", cursive;
  font-size: 26px; }

.header {
  margin: 0 auto;
  max-width: 960px; }
  .header .title-nav {
    max-width: 562px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px; }
    .header .title-nav h1 {
      color: #000;
      font-family: "Playfair Display", serif;
      font-size: 72px;
      text-transform: uppercase; }
    .header .title-nav nav {
      margin: 50px 5px; }
      .header .title-nav nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between; }
        @media only screen and (max-width: 800px) {
          .header .title-nav nav ul {
            flex-direction: column;
            justify-content: center; } }
        .header .title-nav nav ul li a {
          color: #000;
          text-decoration: none;
          font-family: "Cookie", cursive;
          font-size: 26px; }
  .header img {
    width: 100%; }

.details {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px; }
  .details h2 {
    font-size: 70px; }
    @media only screen and (max-width: 800px) {
      .details h2 {
        font-size: 50px; } }
  .details h4 {
    font-family: "Cookie", cursive;
    font-size: 30px; }
  .details .fa-heart {
    margin: 40px; }
  .details .directions {
    margin-top: 100px; }

.border {
  width: auto;
  margin: 25px;
  height: 40px;
  background-image: linear-gradient(120deg, #ddd6f3 0%, #faaca8 100%);
  background-repeat: no-repeat;
  background-size: 100% 1.2em;
  background-position: 0 88%;
  display: block; }

.our-story {
  border-top: 10px solid linear-gradient(120deg, #ddd6f3 0%, #faaca8 100%);
  margin-top: 100px;
  margin-bottom: 100px; }
  .our-story h2 {
    font-size: 70px;
    margin-left: 50px;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .our-story h2 {
        font-size: 50px;
        margin-left: 15px; } }
  .our-story h4 {
    margin-left: 160px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    text-align: center; }
  .our-story .story-slides {
    width: auto;
    margin: 20px;
    display: flex;
    align-items: center; }
    .our-story .story-slides .fa-angle-right,
    .our-story .story-slides .fa-angle-left {
      font-size: 50px; }
      .our-story .story-slides .fa-angle-right:hover,
      .our-story .story-slides .fa-angle-left:hover {
        color: #ddd6f3; }
    .our-story .story-slides .slick-img {
      background: no-repeat center;
      background-size: cover;
      height: 400px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      position: relative;
      margin: 40px 20px; }
      .our-story .story-slides .slick-img:hover span {
        display: block;
        background-color: #fff;
        opacity: 0.70;
        padding: 15px; }
      .our-story .story-slides .slick-img span {
        position: absolute;
        font-family: "Playfair Display", serif;
        font-size: 18px;
        bottom: 0;
        display: none;
        width: auto; }

.underline--magical {
  background-image: linear-gradient(120deg, #ddd6f3 0%, #faaca8 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }
  .underline--magical:hover {
    background-size: 100% 88%; }

.hotel {
  width: 100%;
  height: 720px;
  position: relative;
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-blend-mode: normal, lighten, soft-light; }
  @media only screen and (max-width: 800px) {
    .hotel {
      height: 800px; } }
  .hotel h1.stay {
    font-size: 357px;
    font-family: "Cookie", cursive;
    color: #fff;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    text-transform: lowercase;
    letter-spacing: 85px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    width: 1000px;
    position: absolute;
    bottom: 530px;
    opacity: .35;
    left: -194px; }
    @media only screen and (max-width: 800px) {
      .hotel h1.stay {
        left: -250px; } }
  .hotel .hotel-info {
    width: auto;
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    text-align: right;
    margin-right: 65px; }
    @media only screen and (max-width: 800px) {
      .hotel .hotel-info {
        margin-right: 15px; } }
    .hotel .hotel-info h2 {
      margin-top: 50px;
      font-family: "Playfair Display", serif;
      margin-bottom: 20px; }
    .hotel .hotel-info a {
      color: #000;
      text-decoration: none;
      font-family: "Cookie", cursive;
      font-size: 34px;
      margin: 20px 0px; }
    .hotel .hotel-info img {
      width: 500px;
      opacity: .85;
      border: 2px solid #fff;
      margin-top: 20px; }
      @media only screen and (max-width: 800px) {
        .hotel .hotel-info img {
          width: 300px; } }
    .hotel .hotel-info h4 {
      font-family: "Playfair Display", serif;
      font-size: 24px; }

.our-registry {
  padding: 50px;
  padding-bottom: 0;
  margin-top: 50px; }
  @media only screen and (max-width: 800px) {
    .our-registry {
      padding: 25px 15px; } }
  .our-registry h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(120deg, #ddd6f3 0%, #faaca8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    @media only screen and (max-width: 800px) {
      .our-registry h1 {
        font-size: 50px; } }
  .our-registry .registry-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 800px) {
      .our-registry .registry-wrap {
        flex-direction: column; } }
    .our-registry .registry-wrap .registry {
      position: relative;
      margin-top: 50px; }
      .our-registry .registry-wrap .registry img {
        width: 150px;
        padding: 20px;
        border: 5px solid transparent; }
        .our-registry .registry-wrap .registry img:hover {
          padding: 20px;
          border: 5px solid #959491; }

.thanks {
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, #ddd6f3 0%, #faaca8 100%); }
  .thanks h5 {
    color: #000;
    font-family: "Playfair Display", serif;
    font-size: 24px; }
    @media only screen and (max-width: 800px) {
      .thanks h5 {
        font-size: 18px; } }

.directions-page {
  text-align: center; }
  .directions-page .title-nav {
    margin-bottom: 50px; }
  .directions-page .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; }
    .directions-page .wrapper .go-back {
      margin-top: 50px;
      margin-bottom: 50px; }
  .directions-page .directions {
    max-width: 600px;
    margin: 0 auto; }
    .directions-page .directions h3 {
      margin-top: 50px; }

/*# sourceMappingURL=style.css.map */
